{% extends "base.html.twig" %}

{% block body %} 



<div class="split left">
  <div class="ab-flex align-center space-b w-left align-center">
    <div class="">
      <img class="h-logo w-logo" alt="logo" src="{{ asset('img/logo.png') }}" />
    </div>
    <div class="ab-flex ">
    <div class="ab-flex align-end flex-col space-social ft-20">
      <a class="markazi color-text no-line" target="_blank" href="https://www.facebook.com/alexandre.bouhand">facebook</a>
      <a class="markazi color-text no-line" target="_blank" href="https://www.instagram.com/alexandre_bouhand/?hl=fr">instagram</a>
      <a class="markazi color-text no-line" target="_blank" href="https://www.linkedin.com/in/alexandre-bouhand-3b736961">linkedin</a>
    </div>
    <div class="ab-flex flex-col ft-20 space-social txt-right pad-social">
      <a class="markazi color-text no-line" target="_blank" href="https://www.pinterest.fr/abouhand/">pinterest</a>
      <a class="markazi color-text no-line" target="_blank" href="https://github.com/alexandreb21000">github</a>
      <a class="markazi color-text no-line" target="_blank" href="https://soundcloud.com/puritanrecords">soundcloud</a>
    </div>
  </div>
</div>

  <div class="pad-top w-left align-center">
    <h1 class="ft-175 color-text anton space-title">ABOUT</h1>
    <h2 class="ft-70 txt-norm border1">TIMELINE</h2>
  </div>
  <div class="pad-top w-left align-center footer-page">
    <nav class="">
      <ul class="no-puce ab-flex space-b">
        <li><a class="txr-bold color-text no-line" href="{{ path('home') }}">HOME</a></li>
        <li><a class="txr-bold color-text no-line" href="{{ path('projects') }}">PROJECTS</a></li>
        <li><a class="txr-bold color-text no-line" href="{{ path('about') }}">WHAT I DO</a></li>
        <li><a class="txr-bold color-text no-line" href="{{ path('contact') }}">CONTACT</a></li>
      </ul>
    </nav>
  </div>
</div>


<div class="split right">
    <div class="main">
        <h1 class="border2">EXPERIENCES<br>AND<br>DEGREE</h1>
        <p class="border1">A varied course that allows me today to be a Swiss cost of communication !</p>
    </div>
    
    <div class="timeline">
        <div class="column">
            <div class="title">
                <h1> 2018 </h1>
                <h2 class="border2"> WEB DEVELOPPER<br>JUNIOR </h2>
                <h3 class="border1"> Access Code School - Dijon (FR)</h2>
            </div>
            <div class="description">
                <p class="border3"> 
                        6 months of school with practice and two months of internship. <br>
                        Front and Back End : <br>
                        - HTML, HTML5 <br>
                        - CSS, BOOTSTRAP, UiKIT, MATERIALIZE <br>
                        - JAVASCRIPT, JQuery <br>
                        - PHP, Symfony, MVC  </p>
            </div>
        </div>
        <div class="column">
            <div class="title">
                <h1> 2017 </h1>
                <h2 class="border2"> ASSISTANT TO PRESS<br>AND CORPORATE ORGANISATION </h2>
                <h3 class="border1"> Equipe Spectra - Montreal (CA) </h2>
            </div>
            <div class="description">
                <p class="border3"> Organization of press events for the <b>Francofolies</b> and the <b>International Jazz Festival</b>. <br> Organization and management of internal and external corporate events. </p>
            </div>
        </div>
    
        <div class="column">
            <div class="title">
                <h1> 2016 </h1>
                <h2 class="border2"> MULTIMEDIA SELLER </h2>
                <h3 class="border1"> Boulanger S.A.S </h2>
            </div>
            <div class="description">
                <p class="border3"> 
                        Management of the "nomadic speakers" and "sound" department. <br> Sale &amp; advice </p>
            </div>
        </div>
    
        <div class="column">
            <div class="title">
                <h1> 2016</h1>
                <h2> PROJECT MANAGER </h2>
            </div>
            <div class="description">
                <p> Boris Weinberg vo svojej práci  vydanej v roku 1914, písal o levitujúcich automobiloch na elektromagnetický pohon, pohybujúcich sa v medenom potrubí, z ktorého bol odsatý vzduch. Experimentoval s 10 kg vozňom, ktorý sa pohyboval v medenom potrubí . Tento systém bol kruhový a vožeň dosahoval maximálne 6 km/h. Tvrdil, že na 3km trati vozeň dosiahne až 800-1000 km/h. Projekt nemohli zrealizovať kvôli vysokým finančným nákladom. </p>
            </div>
        </div>
    
        <div class="column">
            <div class="title">
                <h1> 1969 </h1>
                <h2> JOHN A. VOLPE: <br> STREAMLINERS WITHOUT WHEELS </h2>
            </div>
            <div class="description">
                <p> Volpe detailne popisuje koncepty, ale aj prototypy dopravných prostriedkov, ktoré sa mali pohybovať na vzduchových „vankúšoch“ či „ložiskách“. A to nad otvorenou traťou alebo v polouzavretom a uzavretom potrubí. Spomína lineárne indukčné motory, pneumatický pohon, transportné potrubné systémy s minimálnou atmosférou či dokonca vákuom. Uvádza, že rýchlosti týchto vozidiel sa môžu pohybovať od 300 do 800 km/h. Ukončenie konceptov majú na svedomí financie alebo technika. </p>
            </div>
        </div>
    
        <div class="column">
            <div class="title">
                <h1> 1972 <!-- – 1978 --> </h1>
                <h2> ROBERT M. SALTER: <br> THE VERY HIGH SPEED TRANSIT SYSTEM </h2>
            </div>
            <div class="description">
                <p> Jednalo sa o víziu podzemnej tunelovej prepravy obrovskou rýchlosťou,  až 16000 km/h. Technológiu nazval "plávanie po magnetickej dráhe" a prepravný modul "gondolou".Za kľúčové považoval minimalizovanie energie nutnej na prevádzku. Preto navrhol vytvoriť v tuneli atmosféru, aká panuje v maximálnej nadmorskej výške, v ktorej lietajú dopravné lietadlá. Tým by sa minimalizoval odpor vzduchu. Aby ešte ušetril ďalšiu energiu, potreboval eliminovať trenie. Riešením boli „elektromagnetické lôžka. </p>
            </div>
        </div>
    
        <div class="column">
            <div class="title">
                <h1> 1974 <!-- - 2009 --> </h1>
                <h2> SWISSMETRO </h2>
            </div>
            <div class="description">
                <p> Swissmetro bol/je švajčiarsky vactrain projekt cez 100 km dlhý nízkotlakový tunel. Pomocou lineárnych elektromotorov mala rýchlosť súpravy presahovať 520 km/h. Na rozdiel od iných svetových vactrain projektov, plánovali Švajčiari vybudovať tunel pre štandardne veľké vlakové súpravy. Tunel teda musel mať priemer 5 až 6 m. Iniciátorom projektu bol Rodolphe Nieth, ktorý pracoval ako inžinier pre Švajčiarske spolkové dráhy. Projekt bol oficiálne ukončený v roku 2009. </p>
            </div>
        </div>
    
        <div class="column">
            <div class="title">
                <h1> 1997 </h1>
                <h2> DARYL OSTER: <br> EVACUATED TUBE TRANSPORT TECHNOLOGIES (ET3) </h2>
            </div>
            <div class="description">
                <p> Opäť sa jedná o nízkotlakový potrubný systém, v ktorom sa pohybuje transportná kapsula, za pomoci lineárnych elektromotorov a magnetickej levitácie (maglev). Tzn., že kapsula nemusí mať žiadne pohyblivé alebo elektricky aktivované komponenty – pasívne supravodiče umožňujú kapsule vznášať sa v trubici, pričom vírivé prúdy indukované vo vodivých materiáloch umožňujú riadenie kapsuly. Na jej rozbeh by sa z veľkej časti využívala energia, ktorá vzniká pri brzdení (rekuperácia). </p>
            </div>
        </div>
    
        <div class="column">
            <div class="title">
                <h1> 2003 </h1>
                <h2> MICHAEL THALHAMMER: <br> TUBEWAY </h2>
            </div>
            <div class="description">
                <p> Tubeway podobne ako Hyperloop využíva systém transportného potrubia. Vo vnútri transportného potrubia sa pohybuje kapsula pomocou pneumatického pohonu. Kompresor zabudovaný v kapsule nasáva vzduch z prednej časti kapsuly, ktorý stlačí a uvoľní zo zadnej časti kapsuly. Kapsula v potrubí nelevituje, pohybuje sa pomocou kolies. Jej rýchlosť sa má pohybovať od 40 do 350 km/h. Tubeway je však stále len v rovine teoretickej a experimentálnej práce. </p>
            </div>
        </div>
    </div>
      
</div>

{% endblock %}