{% extends "base.html.twig" %}

{% block body %} 



<div class="split left">
  <div class="ab-flex align-center space-b w-left align-center">
    <div class="">
      <img class="h-logo w-logo" alt="logo" src="{{ asset('img/logo.png') }}" />
    </div>
    <div class="ab-flex ">
    <div class="ab-flex align-end flex-col space-social ft-20">
      <a class="markazi color-text no-line" target="_blank" href="https://www.facebook.com/alexandre.bouhand">facebook</a>
      <a class="markazi color-text no-line" target="_blank" href="https://www.instagram.com/alexandre_bouhand/?hl=fr">instagram</a>
      <a class="markazi color-text no-line" target="_blank" href="https://www.linkedin.com/in/alexandre-bouhand-3b736961">linkedin</a>
    </div>
    <div class="ab-flex flex-col ft-20 space-social txt-right pad-social">
      <a class="markazi color-text no-line" target="_blank" href="https://www.pinterest.fr/abouhand/">pinterest</a>
      <a class="markazi color-text no-line" target="_blank" href="https://github.com/alexandreb21000">github</a>
      <a class="markazi color-text no-line" target="_blank" href="https://soundcloud.com/puritanrecords">soundcloud</a>
    </div>
  </div>
</div>

  <div class="pad-top w-left align-center">
    <h1 class="ft-175 color-text anton space-title">ABOUT</h1>
    <h2 class="ft-70 txt-norm border1">TIMELINE</h2>
  </div>
  <div class="pad-top w-left align-center footer-page">
    <nav class="">
      <ul class="no-puce ab-flex space-b">
        <li><a class="txr-bold color-text no-line" href="{{ path('home') }}">HOME</a></li>
        <li><a class="txr-bold color-text no-line" href="{{ path('projects') }}">PROJECTS</a></li>
        <li><a class="txr-bold color-text no-line" href="{{ path('about') }}">WHAT I DO</a></li>
        <li><a class="txr-bold color-text no-line" href="{{ path('contact') }}">CONTACT</a></li>
      </ul>
    </nav>
  </div>
</div>


<div class="split right">
    <div class="main">
        <h1 class="border2">EXPERIENCES<br>AND<br>PERSONNAL PROJECTS</h1>
        <p class="border1">A varied course that allows me today to be a Swiss cost of communication !</p>
    </div>
    
    <div class="timeline">
        <div class="column">
            <div class="title">
                <h1> 2018 </h1>
                <h2 class="border2"> WEB DEVELOPPER<br>JUNIOR </h2>
                <h3 class="border1"> Access Code School - Dijon (FR)</h2>
            </div>
            <div class="description">
                <p class="border3"> 
                        6 months of school with practice and two months of internship. <br>
                        Front and Back End : <br>
                        - HTML, HTML5 <br>
                        - CSS, BOOTSTRAP, UiKIT, MATERIALIZE <br>
                        - JAVASCRIPT, JQuery <br>
                        - PHP, Symfony, MVC  </p>
            </div>
        </div>
        <div class="column">
            <div class="title">
                <h1> 2017 </h1>
                <h2 class="border2"> ASSISTANT TO PRESS<br>AND CORPORATE ORGANISATION </h2>
                <h3 class="border1"> Equipe Spectra - Montreal (CA) </h2>
            </div>
            <div class="description">
                <p class="border3"> Organization of press events for the <b>Francofolies</b> and the <b>International Jazz Festival</b>. <br> Organization and management of internal and external corporate events. </p>
            </div>
        </div>
    
        <div class="column">
            <div class="title">
                <h1> 2016 </h1>
                <h2 class="border2"> MULTIMEDIA SELLER </h2>
                <h3 class="border1"> Boulanger S.A.S - Dijon (FR)</h2>
            </div>
            <div class="description">
                <p class="border3"> 
                        Management of the "nomadic speakers" and "sound" department. <br> Sale &amp; advice </p>
            </div>
        </div>
    
        <div class="column">
            <div class="title">
                <h1> 2016</h1>
                <h2 class="border2"> PROJECT MANAGER </h2>
                <h3 class="border1"> LR COMMUNICABILITY - Autun (FR) </h2>
            </div>
            <div class="description">
                <p class="border3"> 
                    Infographic : layout, logo, packaging, video editing <br>
                    Event : Audio &amp; video installation, space arrangement, customer relationship <br>
                    Commercial : partnership
                </p>
            </div>
        </div>
    
        <div class="column">
            <div class="title">
                <h1> 2013 </h1>
                <h2 class="border2"> SALES CONSULTANT </h2>
                <h3 class="border1"> BOSE S.A - Dijon (FR) </h2>
            </div>
            <div class="description">
                <p class="border3"> 
                    Loyalty, installation, sale, advice. <br>
                    Bose shop-in-shop corner manager.
                </p>
            </div>
        </div>
    
        <div class="column">
            <div class="title">
                <p class="ft-70 border3">Associations</p>
                <h1> 2015 </h1>
                <h2 class="border2"> 5 FACTORY </h2>
            </div>
            <div class="description">
                <p class="border3"> 
                    FA5TORY, located in Dijon, aims to provide global communication solutions on the digital and the senses. <br>
                    We use spaces to create immersive and interactive worlds.
                </p>
            </div>
        </div>
    
        <div class="column">
            <div class="title">
                <h1> 2012 </h1>
                <h2 class="border2"> LE SON DES CIGALES </h2>
            </div>
            <div class="description">
                <p class="border3"> 
                    Promote young (and not so young) DJ's from the French and international scene by organizing parties in the true spirit of underground techno.
                </p>
            </div>
        </div>
    
    </div>
      
</div>

{% endblock %}